@import "./variables";
@import"./responsives";

.contenedor
{
    background: $color-fondo;
    display: grid;
    grid-template-rows: auto 1fr auto;
    max-width: auto;
    padding:1rem;
    align-items:center;
    .texto
    {    
        padding: 1rem;
        font-size: 25px;
        font-style: oblique;
        color:$color-texto;
        text-decoration: none;
    }        
    .lead
    {
        color:$color-texto;
    }
    h1
    {
        color: $color-texto;
        padding: 2rem;
    }
    h3
    {
        color:$color-texto;
        padding: 2rem;
    }
    h5
    {
        color: $color-texto;
        padding: 2rem;
    }
    fieldset
    {
        padding: 1.5rem;
    }
    section
    {
        .texto
        {
                
     
            font-size: 25px;
            font-style: oblique;
            color:$color-texto;
            text-decoration:none;
        }
    }
}
