$color-fondo:linear-gradient(to bottom, #000, #fff);
$color-header:rgb(88, 24, 206);
$color-footer:rgb(16, 20, 46);
$color-titulo:rgb(82, 230, 127);
$color-hover:orange;
$color-link:rgb(125, 236, 14);
$color-link-responsive1:wheat;
$color-link-responsive2:mintcream;
$color-texto:burlywood;
$auto:Deportivos;
$width:0px;
$height:0px;
$padding:0px;
$margin:0px;